* {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

* {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-shadow: crimson;
  background-color: red;
}

/*---------------------- Landing Page -------------------------*/
.landbody {
  background-color: lightgray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter {
  margin-left: 50px;
  margin-right: 50px;
}

/*------------------------- Home Page ----------------------- */
body {
  color: #3c3c3c;
  background-color: #c03d3d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*---------------------------select box-----------------------*/
.result-form {
  text-align: center;
}
.result-form input {
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
.form-inputs {
  text-align: center;
  padding: 10px 10px;
}

.chal-selection {
  margin-top: 10px;
  padding: 10px;
}
.form-button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
}
.select-box-header {
  text-align: center;
}
.select-box {
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  width: 200px;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: white;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #2f3640;
  color: white;
  border-radius: 8px;
  margin-bottom: 8px;
  order: 0;
  position: relative;
}
.selected::after {
  content: '';
  background: url('select-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}
.select-box .options-container.active {
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
}
.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box label {
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}
.select-box .option .radio {
  display: none;
}
/*----------------------------Challenge tables----------------------*/
.submit-form {
  opacity: 0;
  height: 0;
  text-align: left;
}

.submit-form-active {
  opacity: 1;
  max-height: 100%;
  transition: all 1s;
}
.submit-form h2 {
  text-align: center;
  padding-bottom: 10px;
}

.input-group {
  padding-top: 5px;
}

.input-group button {
  margin-left: 20px;
  height: 25px;
  width: 80px;
  border-radius: 5px;
}

.input-group input {
  height: 20px;
}
.flex {
  padding-bottom: 15px;
  flex-direction: column;
}
.name {
  padding-left: 10px;
}
.result {
  padding-top: 5px;
  padding-left: 10px;
}

.input-group input {
  border-radius: 4px;
}

.submit-result {
  margin-top: 17px;
  padding: 5px;
  border-radius: 8px;
}
.wrapper {
  opacity: 0;
  max-height: 0;
  text-align: center;
}

.table {
  opacity: 1;
  max-height: 100%;
  transition: all 1s;
  margin-top: 10px;
}

.container {
  max-width: 1170px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.page-title {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

.members-results {
  margin-top: 0.5em;
  padding: 1em;
  box-shadow: 0 0 20px 0 rgba(122, 0, 0, 0.7);
  text-align: center;
}
.tableName {
  margin-left: auto;
  margin-right: auto;
}
.tableName th {
  padding: 0px 35px 0px 35px;
}
.tableKit {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.tableKit th {
  padding: 0px 20px 0px 20px;
}
.tableKit td {
  padding-top: 5px;
}
td {
  padding-top: 5px;
}
.listHeader {
  padding: 2px;
  display: flex;
  position: sticky;
  color: azure;
}
.emailVoucher {
  margin-top: 2em;
}
.hidden {
  max-height: 0;
}
.show {
  height: 100%;
}
